- content_for :title, "#{@user.name}のfmfm"
- content_for :head do
  %link{:rel => 'canonical', :href => Settings.root + "users/#{@user.id}"}><
  %meta{:property => 'og:url',  :content => Settings.root + "users/#{@user.id}"}
  %meta{:property => 'og:title',        :content => "#{@user.name}のfmfm"}
  %meta{:property => 'og:description',  :content => "#{@user.name}のfmfm"}

%h1.Title
  = @user.name
  %span.Title-min
    の
    %a.Logo{:href => '/'} fmfm

%div.BookmarkForm
  = form_tag "/bookmarks", :method => :post do
    %div.u-flex
      = text_field_tag :url, nil, {:type => 'url', :class => 'BookmarkForm-input', :placeholder => 'URL', :required => true}
      = submit_tag '追加', :class => 'BookmarkForm-submit'

= render '_partials/bookmarks', :items => @bookmarks, :kaminari => @bookmarks