- content_for :title, "#{@user.name}のfmfm"
- content_for :head do
  %link{:rel => 'canonical', :href => Settings.root + "/users/#{@user.id}"}><
  %meta{:property => 'og:url',  :content => Settings.root + "/users/#{@user.id}"}
  %meta{:property => 'og:title',        :content => "#{@user.name}のfmfm"}
  %meta{:property => 'og:description',  :content => "#{@user.name}のfmfm"}

%h1.Title
  = @user.name
  %span.Title-min
    の
    %a.Logo{:href => '/'} fmfm

= render '_partials/bookmark_form'
= render '_partials/bookmarks', :items => @bookmarks, :kaminari => @bookmarks