!!!
%html{:lang => :ja}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title fmfm
    %meta{:name => :viewport, :content => "width=device-width"}
    = stylesheet_link_tag    'application', :media => :all
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %div.Layout
      = yield
    = javascript_include_tag 'application'
